# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**:
- Popular languages
- Common Libraries
- Arthimetic Operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Seaborn

| Data Science Tools |
|:--------:|
|Apache Spark|
|Jupyter|
|Python|

### Below are a few examples of evaluating arithmetic expressions in Python:
    1.x+y
    2.x*y
    3.x/y

In [8]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [9]:
float(200/60)
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Mudit